* {
    box-sizing: border-box;
}

:root {
    --font-regularly: "Poppins", sans-serif;

    --color-regularly: #1ebfc1;
}

html {
    font-size: 62.5%;
}

/* Khôi phục lại font size mặc định theo rem */
body {
    font-size: 1.6rem;
    font-family: var(--font-regularly);
}

/* ================> Common <================ */
a {
    text-decoration: none;
    color: blue;

    display: inline-block;
}

strong {
    display: inline-block;
}

.main-content {
    width: 1170px;

    max-width: calc(100% - 48px);

    margin: 0 auto;
}

.btn {
    width: 108px;
    height: 48px;

    border-radius: 6px;
    border: 1px solid var(--color-regularly);

    color: var(--color-regularly);
    font-size: 1.6rem;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background: var(--color-regularly);
    color: #fff;

    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    opacity: 0.9;
}

button {
    border: none;
    background-color: transparent;

    cursor: pointer;
}

/* ================> Header <================ */
.header {
    background: #fff;
}

.fixed-header {
    position: sticky;
    left: 0;
    top: -44px;

    z-index: 1;
}

.header .menu {
    padding: 52px 0 6px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .menu .trademark {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header .menu .logo {
    width: 36.329px;
    height: 37px;
}

.header .name-logo {
    display: flex;
    align-items: flex-end;
    gap: 3.5px;
}

.header .name-logo .dot {
    width: 5.85px;
    height: 5.958px;

    border-radius: 50%;

    background: #192122;
}

.header .nav {
    margin-left: 18.4%;
    margin-right: 11.4%;
}

.header .nav ul {
    display: flex;
}

.header .nav a {
    color: #2f3a3b;
    font-size: 1.6rem;

    padding: 8px 19.5px;
}

.header .nav a:hover,
a.sign-in:hover {
    color: #2f3a3b;

    text-shadow: 1px 0 0 currentColor;
}

.header .block-btn {
    display: flex;
    align-items: center;
}

.header .block-btn .sign-in {
    color: #494949;
    font-size: 1.6rem;

    padding: 12px 24px;
}

/* ================> Hero <================ */
.hero .body {
    padding: 30px 0 59px;
    margin-top: 12px;

    display: flex;
    justify-content: space-between;
}

/* Block Left */
.hero .block-left {
    width: 42.6%;

    padding: 93px 0;
}

.hero .block-left .intro {
    display: flex;
    align-items: center;
    gap: 5px;

    width: 200px;
}

.hero .block-left img {
    width: 20px;
    height: 21px;

    object-fit: contain;
}

.hero .block-left .slogan {
    color: #767e7e;
    font-size: 1.4rem;
}

.hero .block-left .title {
    margin-top: 18px;

    width: 458px;

    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
}

.hero .block-left .info {
    margin-top: 46px;

    width: 374px;

    color: #9da6a5;
    font-size: 1.8rem;
    line-height: 1.78; /* 177.778% */
}

.hero .block-left .block-play-btn {
    margin-top: 52px;

    display: inline-flex;
    align-items: center;
    gap: 50px;
}

.hero .block-left .btn {
    width: 186px;
    height: 68px;

    background: #1ebfc1;
    color: #fff;

    border-radius: 14px;
}

.hero .block-left .block-play-btn a {
    font-size: 1.8rem;
}

.hero .block-left .block-play-btn .play {
    width: 62px;
    height: 62px;

    border-radius: 62px;
    background: #fff;
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .block-left .block-play-btn .play:hover {
    background: #eee;
    box-shadow: 0px 0px 0px 0px rgba(196, 26, 134, 0.5);
    color: #fff;
    transition: 0.5s;
}

.hero .block-left .block-play-btn img {
    width: 14px;
    height: 18px;
}

/* Block Right */
.hero .block-right {
    width: 54.7%;

    display: flex;
    justify-content: flex-end;

    position: relative;
}

.hero .block-right .thumb {
    width: 576px;
    height: 631px;

    background: #e0f7f6 -187.189px -71.417px / 157.903% 111.318% no-repeat;
}

.hero .block-right .block-courses {
    width: 157px;
    height: 75px;

    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    position: absolute;
    left: 25px;
    top: 149px;
}

.hero .block-right .book {
    width: 36px;
    height: 40px;

    border-radius: 4px 0 0 4px;

    background: #ff8282;

    position: relative;
}

.hero .block-right .book-void {
    width: 28px;
    height: 4px;

    background: #fff;

    position: absolute;
    bottom: 8px;
    left: 4px;
}
.hero .block-right .block-courses .info {
    width: 55px;

    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .block-right .block-schedules {
    width: 124px;
    height: 132px;

    padding: 16px 25px 45px;

    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);

    position: absolute;
    left: 0;
    bottom: 46px;
}

.hero .block-right .block-schedules .title {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;

    width: 53px;

    margin: 0 auto;
}

.hero .block-right .block-schedules .schedules {
    margin: 12px 0 14px;
}

.hero .block-right .block-schedules .footer-schedule {
    width: 26px;
    height: 6px;

    border-radius: 3px;
    background: #edf1f5;

    margin: 0 auto;
}

.hero .block-right .active-students {
    width: 207px;
    height: 90px;

    padding: 17px 35px;

    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;

    position: absolute;
    right: 45px;
    bottom: 41px;
}

.hero .active-students .title {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .active-students .avatars {
    margin-top: 8px;

    display: flex;
}

.hero .active-students img {
    width: 33px;
    height: 33px;

    object-fit: contain;

    border-radius: 33px;
    background: lightgray 50% / cover no-repeat;
}

.hero .active-students img + img {
    margin-left: -7px;
}

.hero .active-students .more-ava {
    margin-left: -7px;
}

.hero .active-students .more-ava {
    width: 33px;
    height: 33px;

    border-radius: 33px;

    background: var(--color-regularly);

    color: #fff;
    font-size: 1rem;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ================> Features <================ */
.features {
    padding: 60px 0;
    margin-top: 90px;
}

/* Top Features */
.features .top-features .section {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.features .top-features .title {
    margin: 18px 0;

    width: 577px;
}

.features .top-features .title a {
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33; /* 133.333% */
}

.features .top-features .desc {
    width: 590px;

    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}

/* Footer Features */
.features .footer-features {
    width: 87.5%;

    margin-top: 80px;

    display: flex;
    justify-content: space-between;
}

.features .footer-features .item:first-child {
    width: 16.4%;
}

.features .footer-features .item + .item {
    width: 21.8%;
}

.features .footer-features .title {
    margin-top: 26px;
}

.features .footer-features .title a {
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}

.features .footer-features .info {
    margin-top: 16px;

    color: #9da6a5;
    font-size: 1.6rem;
    line-height: 1.69; /* 168.75% */
}

/* ================> Features <================ */
.courses {
    padding: 40px 0;
    margin-top: 30px;
}

/* Top Courses */
.courses .top-courses .section {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.courses .top-courses .title {
    margin-top: 18px;

    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
}

.courses .top-courses .info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 19px;
}

.top-courses .info .desc {
    color: #767e7e;
    font-size: 1.8rem;
    line-height: 1.78; /* 177.778% */

    width: 44.9%;
}

.top-courses .info .view-courses {
    color: var(--color-regularly);
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}

/* Footer Courses */
.courses .footer-courses {
    margin-top: 79px;

    display: flex;
    justify-content: space-between;
}

.footer-courses .item {
    width: 30.7%;
    height: 517px;

    position: relative;
}

.footer-courses .item .thumb {
    width: 100%;
    height: 393px;

    object-fit: cover;

    border-radius: 8px;
    opacity: 0.75;
    background: #d0efed;
}

.footer-courses .item .content {
    width: 90.5%;
    height: 195px;

    padding: 18px 0 29px 25px;

    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);

    position: absolute;
    bottom: 0;
    left: 17px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-courses .content .name-course a {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.footer-courses .content .fee {
    margin-top: 16px;

    color: #767e7e;
    font-size: 1.6rem;
}

.footer-courses .content .fee strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.footer-courses .content .info {
    margin-top: 6px;

    color: #9da6a5;
    font-size: 1.4rem;
}

.footer-courses .content .more-info {
    margin-top: 18px;

    display: flex;
    align-items: center;
    gap: 10px;

    color: #9da6a5;
    font-size: 1.4rem;
}

.footer-courses .more-info .dot {
    width: 6px;
    height: 6px;

    border-radius: 50%;

    background-color: var(--color-regularly);
}

/* ================> Countdown <================ */
.countdown {
    padding: 65px 0;
    margin-top: 160px;
}

.countdown .body {
    display: flex;
    justify-content: space-between;

    width: 73.7%;

    margin: 0 auto;
}

.countdown .info strong {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;

    width: 100%;
    height: 93px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.countdown .info .desc {
    margin-top: 11px;

    color: #767e7e;
    font-size: 1.8rem;

    text-align-last: center;
}
